<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXbMrMvottb6Jz2_-4hrQwe_L5VucFmME</string>
	<key>GCM_SENDER_ID</key>
	<string>42604090206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikitin.crudTets</string>
	<key>PROJECT_ID</key>
	<string>crudtest-324d7</string>
	<key>STORAGE_BUCKET</key>
	<string>crudtest-324d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42604090206:ios:68b2eca7baa0258325f5cf</string>
</dict>
</plist>